* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
    background-image: url('../img/ag_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: #aca8be;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.park-box {
    margin: 0px auto;
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.park-box-inner {
    padding: 20px;
}

#table-wrapper {
    height: auto;
    max-height: 250px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    background-color: #9376af;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

table tbody td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #aca8be;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:nth-child(even) {
    background-color: #c5a6df;
}

.wtd {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
    padding-bottom: 15px;
}

.btn-cont button {
    background-color: #aca8be;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 5px;
}

.btn-cont button:hover {
    background-color: #8b8899;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-cont {
    text-align: right;
}