body {
    background-image: url('../img/bg_emp.jpg');
}

.navbar {
    position: relative;
    z-index: 1;
}

#table-wrapper {
    height: 250px;
    overflow: auto;
    margin-bottom: -20px;
    margin-right: -40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    background-color: #9376af;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

table tbody td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #a995c4;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:nth-child(even) {
    background-color: #c5a6df;
}

.wtd {
    margin-top: -30px;
}

.formbg {
    padding: 10px;
}
