body {
    background-image: url('../img/bg_emp.jpg');
    background-size: auto;
}

.navbar {
    position: relative;
    z-index: 1;
}

.wtd {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
    margin-top: -30px;
}

.formbg {
    padding: 10px;
}

.form-group label {
    font-weight: bold;
    margin-right: -10px;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.form-group input[type="text"]:focus,
.form-group input[type="date"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #4f25d6;
}

.form-group input[type="text"] {
    width: 100%;
}

.form-group.col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.formbg-inner button[type="submit"] {
    margin-top: 30px;
    background-color: #4f25d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.formbg-inner button[type="submit"]:hover {
    background-color: #3e1fba;
    color: #fff;
    transition: background-color 0.3s ease;
}

#table-wrapper {
    height: 250px;
    overflow: auto;
    margin-bottom: -20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    background-color: #4e25d6e5;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

table tbody td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #4f25d6;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:nth-child(even) {
    background-color: #6a48dac0;
}