* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
  background-image: url("../img/log.jpg");
  background-position-y: 30%;
  background-size: cover;
  background-repeat: no-repeat;

}

.intr {
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 15px;
  font-weight: 600;
  color: #4f25d6;
}

.navbar {
  position: relative;
  z-index: 1;
}

.left:not(:hover) {
  opacity: 0.5;
}

.right:not(:hover) {
  opacity: 0.5;
}

.formbg {
  background: white;
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  padding: 20px;
}

.form-group label {
  font-weight: 600;
  margin-right: -10px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 10px;
  width: auto;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  outline: none;
  box-shadow: none;
  border-color: #4f25d6;
}

.pass-box {
  position: relative;
}

.fa-eye {
  position: absolute;
  top: 28%;
  right: 54%;
  cursor: pointer;
  color: lightgray;
}

.error {
  font-size: 14px;
  color: #4f25d6;
  float: right;
}

.footer-link span {
  font-size: 14px;
  text-align: center;
}

.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}

input[type=submit] {
  background-color: #4f25d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
}

input[type=submit]:hover {
  background-color: #3e1fba;
  color: #fff;
  transition: background-color 0.3s ease;
}

.reset-pass>a {
  color: #4f25d6;
}