:root {
    --primary-color: #0c1c75;
    --secondary-color: #fafafa;
    --tertiary-color: #212121;
}

body {
    background-image: url("img/bp.jpg");
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container img {
    height: 60px;
    padding: 20px;
    margin-bottom: 5%;
}

.loginbox{
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    margin: 10px 0;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--tertiary-color);
    margin: 10px 0;
    text-align: center;
}

label {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: var(--tertiary-color);
    margin: 10px 0;
}
  
input[type="text"], input[type="password"] {
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
}
  
  input[type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

input[type="submit"]:hover {
    background-color: #0097a7;
}

@media only screen and (max-width: 600px) {
    .loginbox{
        top: 50%;
    }
    .container img {
        top: 5px;
        height: 50px;
    }
}
  
@media only screen and (max-width: 400px) {
    .loginbox {
        top: 40%;
    }
    .container img {
        top: 0;
        height: 40px;
    }
}

@media only screen and (max-width: 250px) {
    .loginbox {
        top: 20%;
    }
    .container img {
        top: -5px;
        height: 30px;
    }
}

@media only screen and (max-height: 600px) {
    .loginbox {
      top: 30%;
    }
  }
  
  @media only screen and (max-height: 400px) {
    .loginbox {
      top: 20%;
    }
  }
  
  @media only screen and (max-height: 250px) {
    .loginbox {
      top: 10%;
    }
  }
